<h1> Products </h1><font size="4" color="blue"><%= link_to "New Item", :new_product %></font>

<div id = "nav">
    <!-- <button><%#= link_to 'Newest Ten', pages_path %></button> -->
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr>
    <th scope="row"><%= p.id %></th>
    <td><%= p.title %></td>
    <td><%= p.description %></td>
    <% if p.user_id %>
    <td><%= User.find(p.user_id).full_name %></td>
    <% else %>
    <td></td>
    <% end %>
    <% if p.category_id %>
    <td><%= Category.find(p.category_id).name %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= number_to_currency(p.price) %></td>
    <td>
    <button class="btn btn-default pull-right"><%= link_to "Show", product_path(p.id) %></button>
    <button class="btn btn-default pull-right"><%= link_to "Delete", product_path(p.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></button>
    <button class="btn btn-default pull-right"><%= link_to "Edit", edit_product_path(p.id) %></button>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
